# Application Configuration
PORT=3001
NODE_ENV=development

# Elasticsearch Configuration
ELASTICSEARCH_NODE=http://localhost:9200
ELASTICSEARCH_USER=elastic
ELASTICSEARCH_PASS=changeme

# Kafka Configuration
KAFKA_BROKERS=localhost:9092

# Log Level
LOG_LEVEL=debug

# Service Name
SERVICE_NAME=audit-log-service
